html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Optional: ensures padding and border are included in the element's total width and height */
}
:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */
}

:root {
  /* --primary-color: #007bff;
  --secondary-color: #6c757d;
  --text-color: #333; */

  --gray-brown: #A09689;
  --dark-chocolate: #524639;
  --clay-gray: #E0D9D3;
  --gray-brown-light: #CAC0B4;
  --note-editor-color: #f5f1eb;
  --text-color: #1a1a1a;
}


button {
  background-color: var(--dark-chocolate);
  color: white;
  border: none;
  cursor: pointer;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

.container {
  background-color: var(--clay-gray);
  display: flex;
  height: calc(100vh - 88px); /* change? */
}